@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #e64646;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    font-family: sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}