
.pageTitle{
    background-color: rgb(82, 174, 105);
    font-family:"verdana";
    border-radius: 20px;
}
.blogContainer{
    /* display:flex; */
    font-family:"verdana";
    padding:20px;

    margin:auto;

}
.photo{

    padding: 20px;
    max-height: 10px;
}
