
.pageTitle{
    background-color:#1A2A44;
    color:#e4e4e4 ;
    border-radius: 20px;
    width:70vw;
    text-align: center;
    margin:0 auto;
    font-size: large;
}
.blogContainer{
    /* display:flex; */
    padding:20px;
    background-color:#3B4C66;
    margin:auto;
    
}

