body {
    font-size: 14px;
    background-color:#2E86C1;
    display: flex;

    flex-direction: column;

    min-height: 100vh;

  }
  p.title {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
  }
  
  title {
    color: #F0F3F4 ;
  }
.navbar, p, .logo{
  font-family: "verdana", "Arial", "sans-serif";
}
p {
    border-radius: 25px;

    font-weight: bold;
    border-width: 10px;
    padding:20px;
    background:#28B463 ;
  }
p:hover {
    color: rgba(57, 75, 155, 0.656);
    text-decoration: none;
  }
label,p{
    color:white;
  }
.navbar{
    font-size: large;
  }

ul{
  background-color:#28B463;
  border-radius: 25px;
  justify-content: space-between;
}
li{
  padding-inline: 5%;
  
  
  }
.nav-list{
    display:flex;

  }
.logo{
  color:#28B463;
  text-align:center;

}
a, a:hover ,a:visited, a:active, .backlink{
  color:#F0F3F4 ;
  text-decoration: none;
  list-style: none;
}
footer{
  margin-top:auto;
  color:#F0F3F4 ;
}
.blog{
  background-color: #28B463;
  border-radius: 25px;
}
.blog>h1{
  padding:0 5%;
  font-family: "verdana";
  color:#F0F3F4 ;
}