*{
  font-family: "verdana";
  color: #F0F3F4 ;
}
body {
    font-size: 14px;
    background-color:#2E86C1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }

  h1 {
    text-align:center;
  }

p {
    border-radius: 25px;

    font-weight: bold;
    border-width: 10px;
    padding:20px;
    background:#28B463 ;
  }
p:hover {
    color: rgba(57, 75, 155, 0.656);
    text-decoration: none;
  }
label,p{
    color:white;
  }
.navbar{
    font-size: large;
  }

ul{
  background-color:#28B463;
  border-radius: 25px;
  justify-content: space-between;
}
li{
  padding-inline: 5%;
  }
.nav-list{
    display:flex;
  }
.logo{
  color:#28B463;
  text-align:center;

}
a, a:hover ,a:visited, a:active, .backlink{
  color:#F0F3F4 ;
  text-decoration: none;
  list-style: none;
}
footer{
  margin-top:auto;
  color:#F0F3F4 ;
}
.blog,.blog>a{
  background-color: #28B463;
  border-radius: 25px;
}
.blog>h1{
  padding:0 5%;
  font-family: "verdana"; 
  color:#F0F3F4 ;
}
input[type=submit]{
  background-color: #28B463;
  border-radius: 25px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  font-family: "verdana", "Arial", "sans-serif";
}

#name,