.profile_container {
    padding: 16px;
    background-color: #3B4C66;
    border-radius: 8px;
    max-width: 70vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(172, 60, 60, 0.1);

  }

  
  .profile_section {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .profile_section_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
  }
