

.masterContainer{


    background-color: #3B4C66;
    padding:20px;
    margin:auto;
    width:50vw;
    border-radius: 8px;
    /* max-width: 1000px; */
    box-shadow: 0 4px 8px rgba(172, 60, 60, 0.1);
}

.link{
    padding:10px;
    /* font-size:x-large; */
    justify-content: space-between;
    align-items: center;
    position:relative;
   
}
.container{
    justify-content:space-between;
    margin:0 auto;
    display:flex;
    align-items: center;

    padding: 10%;
    margin:10px;
}
.form{
    
    background-color: #1A2A44;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(172, 60, 60, 0.1);
}
.title{
    text-align: center;

}
 .button{
    margin: 10;
    top: 50%;
   align-content: center;
 }

.input {
    transition: width 0.4s ease-in-out;
    color:black;
  }
  
.inputGroup {
    /* width: 100%; */
    margin:10px;
  } 