
.navbar{
  font-size: large;

  color: #F0F3F4 ;
}
.nav_list{
  display:flex;
  justify-content: center;
  /* margin:0 auto; */
  /* padding:0 100px; */
  width:100vw;

}
.page_title{

  color:white;
  text-align: center;
  width:100vw;
}
.link{
  width: 20vw;
  text-align:center;
}