.info{
    background-color: #1A2A44;
    padding:20px;
    border-radius: 20px;
    margin:auto;
    width:50vw;
    text-align: center;
    margin-bottom:20px;

}
.blogContent{
    display:flex;
    justify-content: space-between;

}
.photo{
    display:block;
    margin:auto;  

}
.title{
    background-color:#121212;
    text-align: center;
    border-radius: 16px;
    margin:auto;
}
.date{
    background-color: #121212;
}
.description{
    background-color: #121212;
}

