.commentSection{
    background-color: #22262c;
    width: 50vw;
    margin: 0 auto;
    padding:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .user, .comment{
        color:black;
    
    }